<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />



  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/layout_restaurants.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/polling.js"></script>

</head>

<body>
  <% include partials/_header %>
  <div id="imgRestaurant" class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center pl-5 my-0">
    <h1>Current Orders</h1>
  </div>
  <br>

  <% include partials/_restaurantButtons %>

  <section class='container'>

    <table class='order'>
      <thead>
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Details</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Next Status</th>
        </tr>
      </thead>
      <% for(let i = 0; i < orders.length; i++) { %>
      <tbody>
        <tr>
          <!-- ORDER -->
          <th scope="row"><%=orders[i].order_id%></th>
          <!-- DISHES -->
          <td class='m'>
            <% for(let z = 0; z < items.length; z++) { %>
            <%if(items[z].order_id === orders[i].order_id){%>
            <li class="list-group-item"><%= items[z].dish_name%></li>
            <%}%>
          <%}%>
          </td>
          <!-- QUANTITY -->
          <td class='s'>
            <% for(let z = 0; z < items.length; z++) { %>
            <%if(items[z].order_id === orders[i].order_id){%>
            <li class="list-group-item"><%= items[z].quantity%></li>
            <%}%>
                  <%}%>
          </td>
          <!-- STATUS -->
          <td class='s statusContainer'>
            <div class='statusDiv'>
              <%= orders[i].order_status %>
            </div>
          </td>
          <!-- BUTTON -->
          <td class='s'>
            <% switch (orders[i].order_status) {
                case 'Pending' : %>
            <form action="/restaurants" method="POST">
              <input type=hidden class="order-status" name=order_status value="Preparing">
              <input type=hidden class="current_status" name=current_status value="Pending">
              <input type=hidden class="order-id" name=order_id value="<%= orders[i].order_id  %>">
              <button type="submit" class="btn btn-info ">Accept</button>
            </form>
            <% break;
                  case 'Cancelling' : %>
            <form action="/restaurants" method="POST">
              <input type=hidden class="order-status" name=order_status value="Cancelled">
              <input type=hidden class="current_status" name=current_status value="Cancelling">
              <input type=hidden class="order-id" name=order_id value="<%= orders[i].order_id  %>">
              <button type="submit" class="btn btn-danger ">Cancel</button>
            </form>
            <% break;
                case 'Preparing' : %>
            <form action="/restaurants" method="POST">
              <input type=hidden name=order_status value="Ready">
              <input type=hidden class="current_status" name=current_status value="Preparing">
              <input type=hidden name=order_id value="<%= orders[i].order_id  %>">
              <button type="submit" class="btn btn-primary">Ready</button>
            </form>
            <% break;
          } %>
          </td>
        </tr>
      </tbody>
      <%}%>
        </table>
  </section>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

</html>
