<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />



  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/layout_restaurants.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/disableMessage.js"></script>
  <script type="text/javascript" src="/scripts/user_events.js"></script>

</head>

<body>
  <% include partials/_header %>
  <h1>RESTAURANT ORDERS PAGE</h1>

  <% include partials/_restaurantButtons %>

  <section class='container'>

    <table class='order'>
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Send Message</th>
          <th scope="col">Next Status</th>
        </tr>
      </thead>
      <% for(let i = 0; i < orders.length; i++) { %>

      <tbody>
        <tr>
          <!-- ORDER -->
          <th scope="row"><%=orders[i].id%></th>
          <!-- NAME -->
          <td class='m'>
            <%= orders[i].name %>
          </td>
          <!-- PHONE -->
          <td class='s'>
            <%= orders[i].phone %>
          </td>
          <!-- SEND MESSAGE -->
          <td class='s statusContainer'>
            <form action="/restaurants/sendMessage" method="POST">
              <input type=hidden class='sendText' name=sendText value="<%= orders[i].phone %>">
              <input type=hidden class='userName' name=userName value="<%= orders[i].name %>">
              <button type="submit" class="btn btn-warning disable">Send</button>
            </form>
          </td>
          <!-- BUTTON -->
          <td class='s'>
            <form action="/restaurants/pickup" method="POST">
              <input type=hidden name=order_status value="Completed">
              <input type=hidden class="current_status" name=current_status value="Ready">
              <input type=hidden name=order_id value="<%= orders[i].id  %>">
              <button type="submit" class="btn btn-success">Complete</button>
            </form>
          </td>
        </tr>
      </tbody>
      <%}%>
        </table>
  </section>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

</html>
