<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout_users.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/countdownTimer.js"></script>
  </script>
</head>

<body>
  <% include partials/_header %>
  <h1>USER ORDER STATUS PAGE</h1>
  <div class="currentOrder">
    <% console.log(status) %>
    <% for (let i of status) { %>
      <div class=status>
          <% if (i.order_status == "Preparing") { %>
            <span class="countDown"></span>
          <% } %>
          <span class="user_status_text">Order#:<%=i.id %> Status:</span>
          <span class="user_status_show"><%=i.order_status %></span>
          <% if (i.order_status == "Pending") { %>
            <form action="/users" method="POST" style="display: inline;">
              <input type=hidden name=user_id value="<%= i.user_id %>">
              <input type=hidden name=order_id value="<%= i.id %>">
              <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
          <% } %>
      </div>
    <% } %>
  </div>  <br>

  <% for (let i of status) { %>
  <div class="currentOrderDetail">Current Order Detail (Order#:<%=i.id %>)
    <table class="orderDetail">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Pics</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
      </thead>
      <tbody>
          <% for (let order of orders) { %>
            <% if (order.order_id === i.id) { %>
              <tr>
                <td class='s'><%=order.name %></td>
                <td class='s'><img src=<%=order.imgurl %> height='100px'></td>
                <td class='m'><%=order.description %></td>
                <td class='s'><%=order.quantity %></td>
                <td class='s'><%=order.quantity * order.price%></td>
              </tr>
            <% } %>
          <% } %>
      </tbody>
    </table>
  </div>
  <% } %>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

</html>
