<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Hisotry Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/icon/tiny.png" type="image/x-icon" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout_users.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/animation.js"></script>


</head>

<body>
  <% include partials/_header %>
  <div id="imgUser" class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center pl-5 my-0">
    <h1>OrderHistory</h1>
  </div>

  <div class="buttonsss">
    <form action="/users/<%=userId%>" method="GET" style="display: inline;">
      <button id="current" type="submit" class="btn btn-outline-success">Current Orders</button>
    </form>
    <form action="/users/<%=userId%>/history" method="GET" style="display: inline;">
      <button id="history" type="submit" class="btn btn-outline-info">Order History</button>
    </form>
  </div>

  <% for (let i of status) { %>
  <% if (i.order_status === "Completed" || i.order_status === "Cancelled") { %>
  <div class="currentOrderDetail">Current Order Detail (Order#:<%=i.id %> Date created: <%=new Date(i.created_at) %>)
    <table class="orderDetail">
      <thead>
        <th scope="col" id="tc">Name</th>
        <th scope="col" id="tc">Pics</th>
        <th scope="col" id="tc">Description</th>
        <th scope="col" id="tc">Quantity</th>
        <th scope="col" id="tc">Price</th>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% for (let order of orders) { %>
          <% if (order.order_id === i.id) { %>
            <tr>
              <td class='s' id="tc"><%=order.name %></td>
              <td class='s'><img src=<%=order.imgurl %> height='100px'></td>
              <td class='m'><%=order.description %></td>
              <td class='s'><%=order.quantity %></td>
              <td class='s'><%=order.order_price%></td>
            </tr>
            <% total += order.order_price %>
          <% } %>
        <% } %>
      </tbody>
      <tfoot>
        <tr>
          <td>Status:</td>
          <td class="user_status_show"><%=i.order_status %></td>
          <td></td>
          <td>Total Price:</td>
          <td><%=total %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <% } %>
  <% } %>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

</html>
